---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { siteConfig } from "@/config/site-config";
import TypedBlogPostCard from "@/components/TypedBlogPostCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";

// getStaticPaths
// getCollection('Blog')
// getCollection('Author')

export const getStaticPaths = (async () => {
	// esto está correcto
	// const blogPosts = await getCollection("blog");
	// const authors = await getCollection("author");

	// Esto hace una sola petición
	const [authors, posts] = await Promise.all([
		getCollection("author"),
		getCollection("blog"),
	]);

	return authors.map((author) => {
		return {
			// el params { mismoNomreQueElArchivo: elNombreQueVaATener }
			params: { author: author.id },
			props: {
				blogPosts: posts.filter((post) => post.data.author.id === author.id),
				author: author,
			},
		};
	});
}) satisfies GetStaticPaths;

const { blogPosts, author } = Astro.props;
---

<MainLayout>
	<section class="bg-gray-900">
		<div class="container px-6 py-10 mx-auto">
			<h1 class="text-3xl font-semibold capitalize lg:text-4xl text-white">
				<!-- {siteConfig.title} -->
				{`Blogs escritos por ${author.data.name}`}
			</h1>
			<a href="/">Regresar</a>

			<div class="text-md text-gray-400 mb-0 flex flex-row mt-2">
				<Image
					class="rounded-full"
					src={author.data.avatar}
					alt={author.data.name}
					width={50}
					height={50}
					loading="lazy"
					transition:name={`foto-perfil-${author.id}`}
				/>

				<div class="flex flex-col ml-5">
					<a transition:name={`nombre-${author.id}`}>{author.data.name}</a>
					<span>Listado de todos mis posts</span>
				</div>
			</div>

			<div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
				{blogPosts.map((post) => <TypedBlogPostCard post={post} />)}
			</div>
		</div>
	</section>
</MainLayout>

<style is:global>
	@import "tailwindcss";

	a {
		@apply text-blue-500 hover:underline;
	}
</style>
