---
import { Formatter } from "@utils/formatters";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
	post: CollectionEntry<'blog'>;
	// title: string;
	// description?: string;
	// image?: string;
	// date?: Date;
}

const { post } = Astro.props;
const { title, description, image, date } = post.data; // este es lo mismo que const frontmatter = post.data;
---

<div class="lg:flex">
	<Image
		class="object-cover w-full h-56 rounded-lg lg:w-64"
		src={image}
		alt={`imagen de portada del artículo ${title}`}
		width={500}
		height={500}
		loading="lazy"
		transition:name={`transition-img-${title}`}
		/>

	<div class="flex flex-col justify-between py-6 lg:mx-6">
		<a
			href={`/posts/${post.slug}`}
			class="text-xl font-semibol hover:underline text-white"
		>
			{title}
		</a>
		{
			description && (
				<p class="mt-2 text-gray-400">{description}</p>
			)
		}

		<span class="text-sm text-gray-300">{ date ? Formatter.formatDate(date) : "Fecha no disponible" }</span>
	</div>
</div>
